
/* add product */
.add-product-form{
    background-color: #fff;
    width: 800px;
    margin: 83px auto;
    box-shadow: 3px 3px 10px gray;
    border-radius: 13px;
}
.add-product-form h2{
margin: 30px 120px 60px 120px;
font-size: 27px;
text-align: center;
position: relative;
top: 23px;
}
.editor{
    padding: 12px;
    margin: 13px;
    border: 0.3px solid lightgray;
    border-radius: 12px;
    width: 630px;
}
.add-product-form form{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    align-items: flex-start;
}
.add-product-form form>div{
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.add-product-form form>div>input{
    padding: 12px;
    margin: 13px;
    border: 0.3px solid lightgray;
    border-radius: 12px;
    width: 630px;
}
.add-product-form form>div>textarea{
    padding: 12px;
    margin: 13px;
    border: 0.3px solid lightgray;
    border-radius: 12px;
    width: 630px;
}

.add-product-form form>div>input[type=radio]{
    margin: 13px;
}

.add-product-form form>div>label{
    margin-left: 13.8px;
}

.rdio{
    margin: 13px;
}



#btnn{
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 255);
    border-radius: 13px;
    padding: 13px;
    margin-top: 55px;
}

.flabel{
    margin: 13.8px;
}
.fprice{
    font-weight: bolder;
}
.product-imgs{
    padding: 12px;
    margin: 13px;
    border: 0.3px solid lightgray;
    border-radius: 12px;
    display: inline-block !important;
}
/* edit products */

.edit-product-form h2{
    margin: 120px 120px 60px 120px;
    font-size: 27px;
    }

    .edit-product-form form{
        display: flex;
        /* flex-direction: column; */
        margin-left: 80px;
        align-items: center;
        flex-wrap: wrap;
    }
    .edit-product-form form>div{
        flex: 50%;
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        justify-content: space-around;
    }

    .edit-product-form form>div>input{
        padding: 12px;
        margin: 13px;
        border: 0.3px solid lightgray;
        border-radius: 12px;
    }
    .edit-product-form form>div>textarea{
        padding: 12px;
        margin: 13px;
        border: 0.3px solid lightgray;
        border-radius: 12px;
    }

    .edit-product-form form>div>input[type=radio]{
        margin: 13px;
    }

    .edit-product-form form>div>label{
        margin-left: 13.8px;
    }

    .rdio{
        margin: 13px;
    }

    .update-product{
        color: rgb(255, 255, 255);
        background-color: rgb(37, 37, 255);
        border-radius: 13px;
        padding: 13px;
    }



/* Franchise */


.add-franchise-form h2{
    margin: 120px 120px 60px 120px;
    font-size: 27px;
}
.add-franchise-form form{
    display: flex;
    /* flex-direction: column; */
    margin-left: 80px;
    align-items: center;
    flex-wrap: wrap;
}

.add-franchise-form form>div{
    flex: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: space-around;
}

.add-franchise-form form>div>input{
    padding: 12px;
    margin: 13px;
    border: 0.3px solid lightgray;
    border-radius: 12px;
}

.add-franchise-form form>div>input[type=radio]{
    margin: 13px;
}

.add-franchise-form form>div>label{
    margin-left: 13.8px;
}

#addBtnn{
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 255);
    border-radius: 13px;
    padding: 13px;
    width: 180px;
}
.modeOfPayment{
    padding: 12px;
    margin: 13px;
    border: 0.3px solid lightgray;
    border-radius: 12px;
    width: 630px;
}

.selectProducts{
    margin: 13px;
    border: 0.3px solid lightgray;
    border-radius: 12px;
    width: 97% !important;
}


/* update franchise */

.edit-franchise-form h2{
    margin: 120px 120px 60px 120px;
    font-size: 27px;
}
.edit-franchise-form form{
    display: flex;
    margin-left: 80px;
    align-items: center;
    flex-wrap: wrap;
}

.edit-franchise-form form>div{
    flex: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: space-around;
}

.edit-franchise-form form>div>input{
    padding: 12px;
    margin: 13px;
    border: 0.3px solid lightgray;
    border-radius: 12px;
}

.edit-franchise-form form>div>input[type=radio]{
    margin: 13px;
}

.edit-franchise-form form>div>label{
    margin-left: 13.8px;
}

#updateBtnn{
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 255);
    border-radius: 13px;
    padding: 13px;
    width: 180px;
}
.modeOfPayment{
    padding: 12px;
    margin: 13px;
    border: 0.3px solid lightgray;
    border-radius: 12px;
}

.selectProducts{
    margin: 13px;
    border: 0.3px solid lightgray;
    border-radius: 12px;
    width: 97% !important;
}

.prod-header{
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

.prod-header nav ul{
    display: flex;
    align-items: center;
}

.prod-header nav ul li a{
    color: black;
    margin: 14px;
    transition: all 0.5s;
    padding: 12px;
}
.prod-header nav ul li.active{
    background: transparent !important;
    border-bottom:2px solid rgb(17, 25, 77);
    border-radius: 3px;
}
.prod-header nav ul li.active a{
    color: rgb(17, 25, 77);
}

.btn-10{
    color: #fff;
    background-color: #202020;
    font-size: 11px;
}