.main-container {
  display: flex;
}
main {
  padding: 12px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  z-index: 100;
  background: #181818;
  color: rgb(255, 255, 255);
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
}
.sidebar::-webkit-scrollbar{
  display: none !important;
}
.icon{
  padding-top: 15px;
}
.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
}
.top_section .logo {
  top: 0 !important;
  font-size: 18px;
  line-height: 0;
  color: #ffffff !important;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 12px;
  color: #ffffff;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(255, 255, 255); 
  color: rgb(26, 26, 26);
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgb(255, 255, 255);

}
.link {
  display: flex;
  color: rgb(243, 243, 243);
  gap: 10px;
  padding: 5px 12px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-decoration: none;
  

}
.link:hover {
  background: rgb(17, 25, 77);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  color: #fff;
}
.active {
  background: rgb(17, 25, 77);
  color: #fff !important;
  /* border-radius:5px; */
  padding: 12px;
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
  padding: 13px;

}

.menu {
  display: flex;
  color: rgb(255, 255, 255);
  padding: 10px 12px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 12px;
}
.menu_container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: rgb(17, 25, 77)0.5px solid;
  cursor: pointer;
}
.menu>div>svg{
  position: relative;
  top: 12px;
}
.bars{
  cursor: pointer;
}